@font-face {
    font-family: Playwrite;
    src: url(../fonts/PlaywriteGBS-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
}


body{
    height: 100vh;
    background-color: rgba(238, 238, 238, 0.74);
}

header{
    font-family: Playwrite;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 50px;
}
#login{
    padding: 10px 30px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 30px;
    transition: 0.5s all;
    z-index: 1;
}

#login:hover{
    box-shadow: 0 0 700px 500px yellow;
    background-color: transparent;
    color: black;
    cursor: pointer;
}


header .logo{
    font-size: larger;
    font-weight: bold;
}
#nav ul{
    display: flex;
    list-style: none;
}
#nav ul li{
    padding: 2px 30px;
    border-radius: 20px;
}

.page1{
    font-family: Playwrite;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}
.page1 .textArea{
    width: 500px;
    margin-left: 50px;
}
.page1 .imgArea{
    width: auto;
    z-index: -1;
}

.page1 > .textArea > h1{
    font-size: 3rem;
    font-weight:bolder;
}

.page1 > .textArea > button{
    padding: 20px 40px;
    font-size: large;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
    margin: 10px;
}


#nav ul li:hover{
    box-shadow: 0 0 10px 1px rgba(19, 19, 19, 0.596);
    transition: 0.2s ease;
    cursor: pointer;
}

.pbar{
    height: 20%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family:'Courier New', Courier, monospace;
}

.page2{
    font-family: Playwrite;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.page2 > .content > .btnArea{
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.page2 > .content > .btnArea > .features{
    width: 35%;
    height: auto;
    margin: 5px;
    border-radius: 20px;
    border: 1px solid black;
    font-size: large;
    padding: 10px;
}

.page2 > .content > .btnArea > .features:hover{
    transform: scale(1.2);
    background-color: black;
    color: white;
    transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;

}
.page2 h1{
    text-align: center;
    margin-bottom: 2rem;

}
.page2 > .imgArea{
    width: 500px;
    padding: 100px;
}

.page3{
    margin: 30px;
    font-family: Playwrite;
}


.card{
    width: 300px;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid black;
    transition: 0.2s linear;
}
.card:hover{
    scale: 1.1;
}
.card > .imgCont{
    height: 70%;
    overflow: hidden;
}

.card > .imgCont > img{
    width: 300px;
    height: 300px;
}

.card > .text{
    padding: 10px;
}

.card > .text > .btns > a > img{
    width: 30px;
    margin: 2px;
}

.card > .text > .btns{
    display: flex;
    justify-content: flex-end;
}

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.ribbon{
    height: 20%;
    background-color: rgb(36, 35, 35);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif ;
}


.footer{
    height: 70%;
    background-color: black;
    color: white;
    text-align: center;
}


.card > .text > p{
    background-color: grey;
    display: inline;
    color: white;
    padding: 2px 4px;
    border-radius: 2px;
}


#mnav{
    position: relative;
    background: rgba(70, 69, 69, 0.1);
    height: 60vh;
    width: 40vw;
    padding: 20px;
    color: black;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 999;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}
#mnav > ul > li{
    list-style: none;
}


@media (max-width:800px){
    .hideOnMobile{
        display: none;
    }
}

@media (min-width:800px){
    .hideOnDesktop{
        display: none;
    }
}