.topics{
    position: fixed;
    width: 25vh;
    height:100vh;
    background-color: rgb(22, 62, 100);
    display: flex;
    flex-direction: column;
    padding: 20px 5px;
    justify-content: flex-start;
    align-items: flex-start;
    
}
.topics h2{
    color: white;
    text-decoration:underline;
    margin-bottom: 10px;
}
.topics li a{
    color: white;
    text-decoration:none ;
}
.topics li a:hover{
    color: chocolate;
}
.content{
    display: flex;
    flex-direction: row;
}
.main{
    position: absolute;
    left: 15vw;
    width: 85vw;
    overflow:none;
    height: 100%;
    padding: 10px;
}
div h2{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}
.main div h3{
    margin: 20px 2px;
}
table{
    width: 70vw;
    border: none;
    text-align: center;
    border-radius: 10px;
}
table tr th{
    border: 1px solid white;
    background-color: rgb(21, 96, 130);
    padding: 2px;
}
table tr td{
    border: 1px solid white;
    background-color: rgb(204, 210, 216);
    padding: 8px;
}
.main div{
    margin: 50px 5px;
}

.main > div{
    animation: main linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes main {
    0%{
        opacity: 0;
        scale: 0.5;
        transform:translateX(500px);
    }
    100%{
        opacity: 1;
        scale: 1;
        transform:translateX(0);
    }
}